body {
    height: 100vh;
    margin: 0;
    font-family: Arial;
    text-align: center;
    display: grid;
    grid-template-rows: min-content auto min-content;
}

.dark {
    color: #fff;
    background: rgb(31, 36, 47);
}

table {
    margin: auto;
    border-collapse: collapse;
    background: rgba(0, 0, 0, 0.03);
}

thead {
    background: rgba(0, 0, 0, 0.1);
}

body.dark thead {
    background: rgba(255, 255, 255, 0.15);
}

td {
    border: 1px solid #000;
    padding: 7px;
}

body.dark td {
    border-color: rgba(255, 255, 255, 0.5);
}

button:hover {
    cursor: pointer;
}

button#theme img {
    width: 20px;
}

#header,
#footer {
    height: fit-content;
}

#header {
    margin-top: 25px;
}

#content {
    margin: 50px 0;
}

#footer {
    align-self: end;
}